<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">

            <div class="footer__menu ">
                <p class="footer__menu__title">shop</p>
                <ul class="footer__menu__list">
                    <li class="footer__menu__list__item"><a href='#'>Browse By Holidays</a></li>
                    <li class="footer__menu__list__item"><a href='#'>Browse By Brand</a></li>
                    <li class="footer__menu__list__item"><a href='#'>Gift of the Month Clubs</a></li>
                    <li class="footer__menu__list__item"><a href='#'>Customized Bottles</a></li>
                    <li class="footer__menu__list__item"><a href='#'>Corporate Gifts</a></li>
                </ul>
            </div>
            <div class="footer__menu ">
                <p class="footer__menu__title">about</p>

                <ul class="footer__menu__list">
                    <li class="footer__menu__list__item"><a href='#'>About Spirited Gifts</a></li>
                    <li class="footer__menu__list__item"><a href='#'>Read our Blog</a></li>
                    <li class="footer__menu__list__item"><a href='#'>About our Selection</a></li>
                    <li class="footer__menu__list__item"><a href='#'>Read our Reviews</a></li>
                    <li class="footer__menu__list__item"><a href='#'>Shipping & Returns</a></li>
                </ul>

            </div>

            <div class="footer__menu ">
                <p class="footer__menu__title">more</p>

                <ul class="footer__menu__list">
                    <li class="footer__menu__list__item"><a href='#'>Privacy Policy</a></li>
                    <li class="footer__menu__list__item"><a href='#'>Retailer Network</a></li>
                    <li class="footer__menu__list__item"><a href='#'>Help and FAQs</a></li>
                    <li class="footer__menu__list__item"><a href='#'>Scholarship</a></li>
                    <li class="footer__menu__list__item"><a href='#'>Contact Us</a></li>
                </ul>

            </div>

            <div class="footer__icons__wrapper ">
                <p class="footer__menu__title">follow us</p>
                <ul class="footer__icons">
                    <li class="footer__icons__item"><a href="#"><i class="icon ion-social-facebook"></i></a></li>
                    <li class="footer__icons__item"><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                    <li class="footer__icons__item"><a href="#"><i class="icon ion-social-instagram"></i></a></li>
                    <li class="footer__icons__item"><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
                </ul>

            </div>

        </div>
    </div>

</footer>