<section class="star__rating">
    <div class="container">
        <p class="star__rating__title">star rating</p>
        <div class="star__rating__wrapper">
            <div class="star__rating__show__wrapper">

                <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1">1 star</label>
                </div>
                <p>Show rating</p>

            </div>
            <div class="star__rating__check__wrapper">

                <div class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1">1 star</label>
                </div>
                <p>Check rating</p>
            </div>

        </div>
    </div>
</section>