<section class="inputs">
    <div class="container">
        <div class="input__checkbox">
            <input type="checkbox" checked  class="checkbox__active"><span  >Checkbox Active</span>
            <input type="checkbox" class="checkbox"><span  >Checkbox</span>
        </div>
        <div class="input__radio">
            <input type="radio" class="radio__active">
            <input type="radio" class="radio" >

        </div>
        <div class="input__switcher">
            <input type="checkbox" checked data-toggle="toggle" class="switcher__active" >
            <input type="checkbox"  data-toggle="toggle" class="switcher" >

        </div>
    </div>
</section>