<section class="inputs">
    <div class="container">
        <div class="inputs__title__wrapper">
            <p class="inputs__title">Inputs</p>
        </div>
        <div class="input__checkbox">
            <input type="checkbox" checked  class="checkbox__active"><span  >Checkbox Active</span>
            <input type="checkbox" class="checkbox"><span  >Checkbox</span>
        </div>
        <div class="input__radio">
            <input type="radio" checked class="radio__active"><span  >Radio Active</span>
            <input type="radio" class="radio" ><span  >Radio</span>

        </div>
        <div class="input__switcher">
            <input type="checkbox" checked data-toggle="toggle" class="switcher__active" ><span  >Switcher ON</span>
            <input type="checkbox"  data-toggle="toggle" class="switcher" ><span  >Switcher OFF </span>

        </div>
    </div>
</section>