<div class="logo__wrapper">
    <div class="logo">
        <a href="index.html"><img src='./images/Vector_Smart_Object.png' /></a>
    </div>
</div>
<div class="search__wrapper">
    <input type="text" class="search">
    <input type="submit" value="" class="btn__search">
</div> 