<div class="container">
<div class="header__logo__wrapper">
    <div class="logo__wrapper">
        <div class="logo">
            <a href="index.html"><img src='./images/Vector_Smart_Object.png' /></a>
        </div>
    </div>
    <div class="logo__search__wrapper">
        <input type="text" placeholder="Search" class="logo__search">
        <button   class="logo__search__btn"><i> </i></button>
    </div>
</div>
</div>