<div class="menu__wrapper">
    <div class="container">
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__list__item"><a href="#" class='menu__list__item__link'>home</a></li>
                <li class="menu__list__item"><a href="#" class='menu__list__item__link'>services</a></li>
                <li class="menu__list__item"><a href="#" class='menu__list__item__link'>portfolio</a></li>
                <li class="menu__list__item"><a href="#" class='menu__list__item__link'>gallery</a></li>
                <li class="menu__list__item"><a href="#" class='menu__list__item__link'>help & faq</a></li>
                <li class="menu__list__item"><a href="#" class='menu__list__item__link'>about</a></li>
                <li class="menu__list__item"><a href="#" class='menu__list__item__link'>contact</a></li>
            </ul>
        </nav>
    </div>
</div> 