<div class="menu__wrapper">
    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__list__item"><a href="#"class='menu__list__item'>home</a></li>
            <li class="menu__list__item"><a href="#"class='menu__list__item'>services</a></li>
            <li class="menu__list__item"><a href="#"class='menu__list__item'>portfolio</a></li>
            <li class="menu__list__item"><a href="#"class='menu__list__item'>gallery</a></li>
            <li class="menu__list__item"><a href="#"class='menu__list__item'>help & faq</a></li>
            <li class="menu__list__item"><a href="#"class='menu__list__item'>about</a></li>
            <li class="menu__list__item"><a href="#"class='menu__list__item'>contact</a></li>
        </ul>
    </nav>
</div>